# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Обучение SkillFactory\Модуль 11 Массивы и строки. Знакомство с Git\JavaModule11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
